<p>This is a test suite to perform a set of automated test scenarios towards your OpenID Connect Provider. Federation Lab will behave like an OpenID Consumer. Before starting the tests you would need to configure your provider here.</p>

<p class="p_endpoint" id="p_discovery_endpoint">
	<label for="discovery_endpoint">OpenID Connect Discovery Endpoint</label>
	<input type="text" id="discovery_endpoint" name="discovery_endpoint" value="" placeholder="https://yourprovider.com/" class="endpoint" />
	<span class="item-description">An e-mail address or a URL endpoint for the purpose of OpenID Connect Discovery. See <a target="_blank" href="http://openid.net/specs/openid-connect-discovery-1_0.html">OpenID Connect Discovery</a> for more details.</span>
</p>


<p style="padding: 1em 0px">
	<button class="btn btn-large btn-primary verify" type="button">Verify connectivity</button>
</p>

<fieldset id="userInteractionDisplay">
	<legend>User interactions</legend>

	<button id="userinteraction_reset" style="" class="btn btn-success">Reset all user interactions</button>

	<div id="userinteractions"></div>

</fieldset>