<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
	<link rel="stylesheet" href="/stylesheets/style.css" />
	


	<!-- JQuery hosted by google -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />

	<!-- SAML metaJS -->
	<script type="text/javascript" src="/javascripts/samlmetajs/samlmeta.info-certs-saml2sp-fedlab.min.js"></script>
	<link rel="stylesheet" href="/samlmetajs/css/samlmetajs.css" />
 	
	<!-- spine.js -->
	<script type="text/javascript" src="/javascripts/spine/spine.js"></script>
	<script type="text/javascript" src="/javascripts/spine/local.js"></script>

	<!-- jquery tmpl() -->
	<script type="text/javascript" src="/javascripts/jquery.tmpl.min.js"></script>
	
	<!-- Federation Lab -->
	<script type="text/javascript" src="/javascripts/fedlab-utils.js"></script>
	<script type="text/javascript" src="/javascripts/models.js"></script>
	<script type="text/javascript" src="/javascripts/controllers.js"></script>
	
	<script type="text/javascript" src="/javascripts/test.js"></script>
	
	<!-- 
		<script type="text/javascript" src="/javascripts/connect-ui.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.json-2.3.min.js"></script> 
	-->

	
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	

	
	<script type="text/x-jquery-tmpl" id="providerItem">
		<a class="entityOpen" href="">{{html $data.getTitle() }}</a> ( <a class="entityDup" href="">duplicate</a> | <a class="entityDel" href="">delete</a> )
			<span class="autosave">Autosave</span>
	</script>
	
	
	<script type="text/x-jquery-tmpl" id="oauthprovider">
		
	<div class="oauthprovider">
		
		
		<fieldset><legend>Description</legend>
		
			<p style="font-size: 80%; color: #ccc">Stored with ID: ${id}</p>

			<p>
				<label for="title">Descriptive name of Oauth Provider</label>
				<input type="text" id="title" name="title" value="${title}" class="endpoint" />
				<span class="item-description">Your configuration will be stored in your browser, and you&#39;ll be able to find it by looking for this name.</span>
			</p>
			
			<p>
				<label for="issuer">Issuer</label>
				<input type="text" id="issuer" name="issuer" value="${metadata.issuer}" class="endpoint" />
				<span class="item-description">The Issuer is the same value as is used in the <tt>iss</tt> property in the JWT.</span>
			</p>
			
		</fieldset>
		


		<fieldset><legend>Setup endpoints</legend>
		
			<div id="endpoints" style="display: inline" class="basic">

				{{each(key, endpoint) _endpoints }}
					<p>
						<label for="${key}_endpoint">${endpoint.title}</label>
						<input type="text" id="${key}_endpoint" name="${key}_endpoint" value="${$data.metadata.endpoints[key]}" class="endpoint" />
						<span class="item-description">{{html endpoint.descr}}</span>
					</p>
				{{/each}}
				
			</div>

		</fieldset>
		
		

		
		<fieldset><legend>Client Configuration</legend>
		
			<div id="clientconfiguration" style="display: inline" class="basic">

				<p>
					<label for="client_type">Type of client</label>
					<select id="client_type" name="client_type">
						<option value="confidential">Confidential</option>
						<option value="public" disabled="disabled">Public</option>
					</select>
				</p>

				<p>
					<label for="auth_type">Type of authentication</label>
					<select id="auth_type" name="auth_type">					
						<option value="client_secret_basic" {{if metadata.client.auth_type === "client_secret_basic"}} selected="selected" {{/if}}
							>HTTP Basic Authentication</option>
						<option value="client_secret_post" {{if metadata.client.auth_type === "client_secret_post"}} selected="selected" {{/if}}
							>Including credentials in request body</option>
						<option value="client_secret_jwt" disabled="disabled" {{if metadata.client.auth_type === "client_secret_jwt"}} selected="selected" {{/if}}
							>JWT Secret</option>
						<option value="private_key_jwt" disabled="disabled" {{if metadata.client.auth_type === "private_key_jwt"}} selected="selected" {{/if}}
							>JWT Private Key</option>
					</select>
				</p>
			
				<p>
					<label for="client">Client identifier</label>
					<input type="text" id="client_id" name="client_id" value="${$data.metadata.client.client_id}" class="username" />
				</p>
				<p>
					<label for="client_secret">Client secret</label>
					<input type="text" id="client_secret" name="client_secret" value="${$data.metadata.client.client_secret}" class="username" />
				</p>

				<p>
					Callback URIs
						<ul>
							{{each(key, endpoint) $data.metadata.client.redirect_uris }}
								<li><code>${endpoint}</code></li>
							{{/each}}
						</ul>
					
					<span class="item-description">Make sure to configure your Provider to trust these callback URLs!</span>
				</p>
				
			</div>

		</fieldset>



	</div>
		
		
	</script>
	
	
	
	
	
	
	
	
	<script type="text/x-jquery-tmpl" id="oauthprovider">
		
		
		<div class="oicprovider">
			<h1>${title}</h1>
			
			
			<fieldset><legend>Setup service endpoints</legend>

				<p>
					<input type="checkbox" checked="checked" id="usewellknown" name="usewellknown" />
					<label for="usewellknown">Load metadata using OpenID Connect Discovery</label>
					<input style="" id="wellknown" name="wellknownhost" value="https://openidconnect.info" class="endpoint" />
					<input id="discover" type="submit" value="Discover provider metadata" />
				</p>

			</fieldset>
			
			
			<fieldset><legend>Setup service endpoints</legend>

				<p>
					<input type="checkbox" checked="checked" id="usewellknown" name="usewellknown" />
					<label for="usewellknown">Load metadata using OpenID Connect Discovery</label>
					<input style="" id="wellknown" name="wellknownhost" value="https://openidconnect.info" class="endpoint" />
					<input id="discover" type="submit" value="Discover provider metadata" />
				</p>


				<fieldset><legend>Features</legend>

					<div id="providerfeatures" style="display: inline" class="basic">



					</div>

				</fieldset>


				<div id="metadatabasic" style="display: none" class="basic">

					<p>
						<label for="issuer">Issuer:</label>
						<input id="issuer" name="issuer" value="${metadata.issuer}" class="endpoint" />
					</p>

					<p>
						<label for="authorization_endpoint">OAuth Authorization Endpoint:</label>
						<input id="authorization_endpoint" name="authorization_endpoint" value="https://example.org/oauth/authorization" class="endpoint" />
					</p>

					<p>
						<label for="token_endpoint">OAuth Token Endpoint:</label>
						<input id="token_endpoint" name="token_endpoint" value="https://example.org/oauth/token" class="endpoint" />
					</p>

					<p>
						<label for="user_info_endpoint">OpenID Connect User Info Endpoint:</label>
						<input id="user_info_endpoint" name="user_info_endpoint" value="https://example.org/connect/userinfo" class="endpoint" />
					</p>

					<p>
						<label for="check_id_endpoint">OpenID Connect Check ID Endpoint:</label>
						<input id="check_id_endpoint" name="check_id_endpoint" value="https://example.org/connect/checkid" class="endpoint" />
					</p>

					<p>
						<label for="refresh_session_endpoint">OpenID Connect Refresh Session Endpoint:</label>
						<input id="refresh_session_endpoint" name="refresh_session_endpoint" value="https://example.org/connect/refreshsession" class="endpoint" />
					</p>

					<p>
						<label for="end_session_endpoint">OpenID Connect End Session Endpoint:</label>
						<input id="end_session_endpoint" name="end_session_endpoint" value="https://example.org/connect/endsession" class="endpoint" />
					</p>

					<p>
						<label for="check_session_endpoint">OpenID Connect Check Session Endpoint:</label>
						<input id="check_session_endpoint" name="check_session_endpoint" value="https://example.org/connect/checksession" class="endpoint" />
					</p>

					<p>
						<label for="registration_endpoint">OpenID Connect Dynamic Client Registration Endpoint:</label>
						<input id="registration_endpoint" name="registration_endpoint" value="https://example.org/connect/registration" class="endpoint" />
					</p>


				</div>

			</fieldset>


			<fieldset>
				<legend>Client Credentials</legend>

				<p>
					<input type="checkbox" checked="checked" id="setclientcredentials" name="setclientcredentials" />
					<label for="setclientcredentials">Obtain client credentials using the Dynamic Registration service</label>
					<!-- <input style="" id="wellknown" name="authorization" value="https://example.org/oauth/authorization" class="endpoint" />
					<input id="discover" type="submit" value="Discover metadata" /> -->
				</p>

				<div id="clientcredentialsdetails" style="display: none">

					<p>
						<label for="client">Client identifier</label>
						<input id="client" name="client" value="client" class="username" />
					</p>
					<p>
						<label for="secret">Client secret</label>
						<input id="secret" name="secret" value="secret" class="username" />
					</p>

					<p>
						Callback URL
						<code>https://localhost/callback</code>
						<span style="font-size: x-small; color: #666">Please configure to trust this callback URL on your provider</span>
					</p>

				</div>

			</fieldset>
			
			
		</div>

	</script>

	
	<script type="text/javascript">
		jQuery(function($) {
			return new FedLab({
				el: $("body"),
				type: OAuthEditor
			});
		});
		
		
		
	
	</script>
	
</head>

<body>

	<p><a href="/">« Back to frontpage</a></p>

	<img src="/images/openid.png" style="float: right" />

	<h1>Testing OpenID Connect Provider</h1>


	<p>Fill inn all required information about your OAuth Provider in order to start testing it using Federation Lab.</p>
	
	<p><a href="">Consult the Federation Lab web site</a> for more information about Federation Lab.</p>


	<fieldset class="storeconfiguration"><legend>Stored Configuration</legend>
	
		<p>Here is a list of stored OAuth Provider configurations:</p>
		
		<ul>
		</ul>
		
		<input type="submit" id="createnewitem" value="Create new configuration" />
		
	</fieldset>
	
	<div id="editorcontainer">
		<div id="editor">
		</div>
	</div>

	<div id="results">	
	</div>

</body>
</html>