<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/testresults.css" />
	


	<!-- JQuery hosted by google -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />

	<!-- SAML metaJS -->
	<script type="text/javascript" src="/javascripts/samlmetajs/samlmeta.info-certs-saml2sp-fedlab.min.js"></script>
	<link rel="stylesheet" href="/samlmetajs/css/samlmetajs.css" />
 	
	<!-- spine.js -->
	<script type="text/javascript" src="/javascripts/spine/spine.js"></script>
	<script type="text/javascript" src="/javascripts/spine/local.js"></script>

	<!-- jquery tmpl() -->
	<script type="text/javascript" src="/javascripts/jquery.tmpl.min.js"></script>
	
	<!-- Federation Lab -->
	<script type="text/javascript" src="/javascripts/fedlab-utils.js"></script>
	<script type="text/javascript" src="/javascripts/models.js"></script>
	<script type="text/javascript" src="/javascripts/controllers.js"></script>
	
	<script type="text/javascript" src="/javascripts/test.js"></script>
	
	<!-- 
		<script type="text/javascript" src="/javascripts/connect-ui.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.json-2.3.min.js"></script> 
	-->

	
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	
	
	<script type="text/x-jquery-tmpl" id="testFlow">
	
		<div class="test testFlow" id="${sid}">
		
			<div class="testFlowControllerBar">
				<input type="submit" class="testFlowRun" name="testFlowRun" value="Run" />
				<input type="submit" class="testFlowSShow" name="testFlowSShow" value="Show succeeded" />
				<input type="submit" class="testFlowSHide" name="testFlowSHide" value="Hide succeeded" />
				<input type="submit" class="testFlowDCShow" name="testFlowDCShow" value="Show debug" />
				<input type="submit" class="testFlowDCHide" name="testFlowDCHide" value="Hide debug" />
				<input type="submit" class="testFlowOthersShow" name="testFlowOthersShow" value="Show others" />
				<input type="submit" class="testFlowOthersHide" name="testFlowOthersHide" value="Hide others" />
			</div>
		
			<h3>
				{{if $item.data.name}}
					${name}
				{{else}}
					${id}
				{{/if}}
			</h3>
			{{if $item.data.descr}}
				<p>${descr}</p>
			{{/if}}
			
			<div class="testFlowResults"></div>
			

			
		</div>
		
	</script>

	<script type="text/x-jquery-tmpl" id="testItem">

		<div class="test testItem ${statusClass}">
			<h4>
				{{if $item.data.name}}
					${name}
				{{else}}
					${id}
				{{/if}}
			</h4>
			{{if $item.data.message && $item.data.message !== "OK"}}
				<p>${message}</p>
			{{/if}}
			
		</div>

	</script>

	
	<script type="text/x-jquery-tmpl" id="providerItem">
		<a class="entityOpen" href="">{{html $data.getTitle() }}</a> ( <a class="entityDup" href="">duplicate</a> | <a class="entityDel" href="">delete</a> )
			<span class="autosave">Autosave</span>
	</script>
	
	
	<script type="text/x-jquery-tmpl" id="oauthprovider">
		
	<div class="oauthprovider">
		
		
		<fieldset><legend>Description</legend>
		
			<p style="font-size: 80%; color: #ccc">Stored with ID: ${id}</p>

			<p>
				<label for="title">Descriptive name of Oauth Provider</label>
				<input type="text" id="title" name="title" value="${title}" class="endpoint" />
				<span class="item-description">Your configuration will be stored in your browser, and you&#39;ll be able to find it by looking for this name.</span>
			</p>
			
			<p>
				<label for="issuer">Issuer</label>
				<input type="text" id="issuer" name="issuer" value="${metadata.provider.issuer}" class="endpoint" />
				<span class="item-description">The Issuer is the same value as is used in the <tt>iss</tt> property in the JWT.</span>
			</p>
			
		</fieldset>
		


		<fieldset><legend>Setup endpoints</legend>
		
			<div id="endpoints" style="display: inline" class="basic">

				{{each(key, endpoint) _endpoints }}
					<p>
						<label for="${key}_endpoint">${endpoint.title}</label>
						<input type="text" id="${key}_endpoint" name="${key}_endpoint" value="${$data.metadata.provider.endpoints[key]}" class="endpoint" />
						<span class="item-description">{{html endpoint.descr}}</span>
					</p>
				{{/each}}
				
			</div>

		</fieldset>
		
		

		
		<fieldset><legend>Client Configuration</legend>
		
			<div id="clientconfiguration" style="display: inline" class="basic">

				<p>
					<label for="client_type">Type of client</label>
					<select id="client_type" name="client_type">
						<option value="confidential">Confidential</option>
						<option value="public" disabled="disabled">Public</option>
					</select>
				</p>

				<p>
					<label for="auth_type">Type of authentication</label>
					<select id="auth_type" name="auth_type">					
						<option value="client_secret_basic" {{if metadata.client.auth_type === "client_secret_basic"}} selected="selected" {{/if}}
							>HTTP Basic Authentication</option>
						<option value="client_secret_post" {{if metadata.client.auth_type === "client_secret_post"}} selected="selected" {{/if}}
							>Including credentials in request body</option>
						<option value="client_secret_jwt" disabled="disabled" {{if metadata.client.auth_type === "client_secret_jwt"}} selected="selected" {{/if}}
							>JWT Secret</option>
						<option value="private_key_jwt" disabled="disabled" {{if metadata.client.auth_type === "private_key_jwt"}} selected="selected" {{/if}}
							>JWT Private Key</option>
					</select>
				</p>
			
				<p>
					<label for="client">Client identifier</label>
					<input type="text" id="client_id" name="client_id" value="${$data.metadata.client.client_id}" class="username" />
				</p>
				<p>
					<label for="client_secret">Client secret</label>
					<input type="text" id="client_secret" name="client_secret" value="${$data.metadata.client.client_secret}" class="username" />
				</p>

				<p>
					Callback URIs
						<ul>
							{{each(key, endpoint) $data.metadata.client.redirect_uris }}
								<li><code>${endpoint}</code></li>
							{{/each}}
						</ul>
					
					<span class="item-description">Make sure to configure your Provider to trust these callback URLs!</span>
				</p>
				
			</div>

		</fieldset>



	</div>
		
		
	</script>
	
	
	
	
	
	
	<script type="text/x-jquery-tmpl" id="oicprovider">
		
	<div class="oicprovider">
		
		
		<fieldset><legend>Description</legend>
		
			<p style="font-size: 80%; color: #ccc">Stored with ID: ${id}</p>

			<p>
				<label for="title">Descriptive name of Oauth Provider</label>
				<input type="text" id="title" name="title" value="${title}" class="endpoint" />
				<span class="item-description">Your configuration will be stored in your browser, and you&#39;ll be able to find it by looking for this name.</span>
			</p>
			
			<p>
				<label for="issuer">Issuer</label>
				<input type="text" id="issuer" name="issuer" value="${metadata.provider.issuer}" class="endpoint" />
				<span class="item-description">The Issuer is the same value as is used in the <tt>iss</tt> property in the JWT.</span>
			</p>
			
		</fieldset>
		
		<fieldset><legend>Features</legend>
		
			<p>
				<input type="checkbox" {{if metadata.provider.features.discovery}} checked="checked" {{/if}} id="usediscovery" name="usediscovery" />
				<label for="usediscovery">Enable OpenID Connect Discovery</label>
				<span class="item-description">If you enable OpenID Connect Discovery, Federation Lab will automatically discover some metadata about your provider and you will need to configure less information here. Make sure your provider supports <a target="_blank" href="">OpenID Connect Discovery</a></span>
			</p>

			<p>
				<input type="checkbox" {{if metadata.provider.features.registration}} checked="checked" {{/if}} id="useregistration" name="useregistration" />
				<label for="useregistration">Enable OpenID Connect Dynamic Client Registration</label>
				<span class="item-description">
					If you enable <a target="_blank" href="http://openid.net/specs/openid-connect-registration-1_0.html">OpenID Connect Dynamic Client Registration</a>, the Federation Lab will use the registration endpoint to register a client before performing the tests.
				</span>
			</p>
			
			<p>
				<input type="checkbox" {{if metadata.provider.features.sessionmanagement}} checked="checked" {{/if}} id="usesessionmanagement" name="usesessionmanagement" />
				<label for="usesessionmanagement">Enable OpenID Connect Session Management</label>
				<span class="item-description">
					See <a target="_blank" href="http://openid.net/specs/openid-connect-session-1_0.html">OpenID Connect Session Management</a> for more details.
				</span>
			</p>
			
			<p>
				Supported Algoritms
				<span style="display: block; padding-right: 8em">
				{{each(key, alg) _algoritms }}
					<span style="margin-right: 1em; white-space: nowrap">
						<input type="checkbox" id="${key}" {{if $item.data.hasAlg(key) }} checked="checked" {{/if}} name="${key}" />
						<label for="${key}" >
							<a style="min-width: 200px" title="${alg.descr}">${alg.title}</a>
						</label>
					</span>
				{{/each}}
				</span>
				<span class="item-description">
					Check off the algoritm that is supported by your OpenID Connect Provider.
				</span>
			</p>

			<p>
				Supported Scopes
				<span style="display: block">
				
				<span style="margin-right: 1em">
					<input type="checkbox" disabled="disabled" checked="checked" id="scope_openid" name="scope_openid" />
					<label for="scope_openid"><a title="REQUIRED. Informs the Authorization Server that the Client is making an OpenID Connect request. If the openid scope value is not present, the request MUST NOT be treated as an OpenID Connect request. The openid value also requests that the ID Token associated with the authentication session be returned. If the response_type includes token, the ID Token is returned in the Authorization Response along with the Access Token. If the response_type includes code, the ID Token is returned as part of the Token Endpoint response. This scope value requests access to the user_id Claim at the UserInfo Endpoint.">openid</a></label>
				</span>
				
				{{each(key, s) _scopes }}
					<span style="margin-right: 1em">
						<input type="checkbox" id="${key}" {{if $item.data.hasScope(key) }} checked="checked" {{/if}} name="${key}" />
						<label for="${key}"><a title="${s.descr}">${key}</a></label>
					</span>
				{{/each}}
				</span>
				<span class="item-description">
					Check off the scopes that is supported by your OpenID Connect Provider. 
					The federation lab test client should be authorized to retrieve these scopes.
				</span>
			</p>


			<p>
				Response types supported
				<span style="display: block">
				{{each(key, alg) _response_types }}
					<span style="margin-right: 1em">
						<input type="checkbox" id="${key}" {{if $item.data.hasResponseType(alg.title) }} checked="checked" {{/if}} name="${key}" />
						<label for="${key}">${alg.title}</label>
					</span>
				{{/each}}
				</span>
				<span class="item-description">
					Which flows is supported by your OpenID Connect Provider. Ideally all the flows above should be supported.
				</span>
			</p>


		</fieldset>
		


		<fieldset><legend>Setup endpoints</legend>
		
			<div id="endpoints" style="display: inline" class="basic">

				{{each(key, endpoint) _endpoints }}
					<p class="p_endpoint" id="p_${key}_endpoint">
						<label for="${key}_endpoint">${endpoint.title}</label>
						<input type="text" id="${key}_endpoint" name="${key}_endpoint" value="${$data.metadata.provider.endpoints[key]}" class="endpoint" />
						<span class="item-description">{{html endpoint.descr}}</span>
					</p>
				{{/each}}
				
			</div>

		</fieldset>
		
		

		
		<fieldset><legend>Client Configuration</legend>
		

		<p>
			<label for="client">Client identifier</label>
			<input type="text" id="client_id" name="client_id" value="${$data.metadata.client.client_id}" class="username" />
		</p>

			<div id="clientconfiguration" style="display: inline; margin: 0px; padding: 0px" class="basic">
			


			

				<p>
					<label for="client_type">Type of client</label>
					<select id="client_type" name="client_type">
						<option value="confidential">Confidential</option>
						<option value="public" disabled="disabled">Public</option>
					</select>
				</p>

				<p>
					<label for="auth_type">Type of authentication</label>
					<select id="auth_type" name="auth_type">					
						<option value="client_secret_basic" {{if metadata.client.auth_type === "client_secret_basic"}} selected="selected" {{/if}}
							>HTTP Basic Authentication</option>
						<option value="client_secret_post" {{if metadata.client.auth_type === "client_secret_post"}} selected="selected" {{/if}}
							>Including credentials in request body</option>
						<option value="client_secret_jwt" disabled="disabled" {{if metadata.client.auth_type === "client_secret_jwt"}} selected="selected" {{/if}}
							>JWT Secret</option>
						<option value="private_key_jwt" disabled="disabled" {{if metadata.client.auth_type === "private_key_jwt"}} selected="selected" {{/if}}
							>JWT Private Key</option>
					</select>
				</p>
			

				<p>
					<label for="client_secret">Client secret</label>
					<input type="text" id="client_secret" name="client_secret" value="${$data.metadata.client.client_secret}" class="username" />
				</p>

				<p>
					Callback URIs
						<ul>
							{{each(key, endpoint) $data.metadata.client.redirect_uris }}
								<li><code>${endpoint}</code></li>
							{{/each}}
						</ul>
					
					<span class="item-description">Make sure to configure your Provider to trust these callback URLs!</span>
				</p>
				
			</div>

		</fieldset>


	</div>
	
	
	<fieldset class="readyverify"><legend>Verify Connectivity</legend>
	
		<p>When you're done configuring your OpenID Connect Provider above, you may click the button below to perform a simple test, verifying that your most basic features are working. When this test is ran successfully, you'll be able to proceed to the rest of the test cases.</p>
		
		<p style="text-align: center"><input  type="submit" id="verifynow" value="Verify Connectivity" /></p>
		
	</fieldset>
		
		
	</script>

	
	




	
	<script type="text/javascript">
		jQuery(function($) {
			return new FedLab({
				el: $("body"),
					type: OICProviderEditor,
					modelType: OICProvider
				//type: OAuthEditor
			});
		});
	</script>
	
</head>

<body>
	

	<p><a href="/">« Back to frontpage</a></p>

	<img src="/images/openid.png" style="float: right" />

	<h1>Testing OpenID Connect Provider</h1>


	<p>Fill inn all required information about your OAuth Provider in order to start testing it using Federation Lab.</p>
	
	<p><a href="">Consult the Federation Lab web site</a> for more information about Federation Lab.</p>


	<fieldset class="storeconfiguration"><legend>Stored Configuration</legend>
	
		<p>Here is a list of stored OAuth Provider configurations:</p>
		
		<ul>
		</ul>
		
		<input type="submit" id="createnewitem" value="Create new configuration" />
		
	</fieldset>
	
	<div id="editorcontainer">
		<div id="editor">
		</div>
	</div>

	<div id="testcontrollerbar">
		<p>Testing <b>some unnamed provider</b></p>
		<input type="submit" name="configure" id="configure" value="« Revisit the configuration" />
		<input type="submit" name="runall" id="runall" value="Run all test flows »" />

	</div>

	<div id="results">	
	</div>

</body>
</html>