<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Federation Lab</title>
		

		<% include inc/head %>


	</head>

	<body>

		<% include inc/navbar %>

		<div class="container">

			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit">
				<h1>About › Federation Lab</h1>
				<p>Federation Lab is a set of tools for testing, verification and debugging of various Identity protocols. Federation Lab is a joint collaboration effort between <a href="http://www.geant.net">GÉANT</a> and <a href="http://kantarainitiative.org">Kantara Initiative</a>.</p>
				<p>Federation Lab uses sophisticated techniques for performing automated verification of identity protocols. The head developers involved in the Federation Lab is <a href="http://rnd.feide.no">Andreas Åkre Solberg</a>, <a href="http://uninett.no">UNINETT</a> and <a href="http://www.umu.se/sok/english/staff-directory/view-person?uid=rohe0002&guise=anst1">Roland Hedberg</a>, <a href="http://www.umu.se">University of Umeå</a>.</p>

			</div>



			<hr>

			<footer>
				<p>&copy; Company 2012</p>
			</footer>

		</div> <!-- /container -->

	<% include inc/bottom %>

	</body>
</html>