<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Federation Lab</title>

		<% include inc/head %>


	</head>

	<body>

		<% include inc/navbar %>

		<div class="container">

				<!-- Main hero unit for a primary marketing message or call to action -->
				<div class="hero-unit">
					<h1>Contact › Federation Lab</h1>
					<p>For now, you may contact:</p>

					<dl>
						<dt>Andreas Åkre Solberg</dt>
						<dd><a href="mailto:andreas.solberg@uninett.no">andreas.solberg@uninett.no</a></dd>
						
						<dt>Roland Hedberg</dt>
						<dd><a href="mailto:roland.hedberg@adm.umu.se">roland.hedberg@adm.umu.se</a></dd>
					</dl>

					<p>If you discover bugs or issues with the SAML or OpenID testing tool, please use the <a href="https://github.com/rohe/fedlab/issues">Issue tracker at github</a>.</p>

				</div>



				<hr>

				<footer>
					<p>&copy; Company 2012</p>
				</footer>

		</div> <!-- /container -->

		

	<% include inc/bottom %>
	</body>
</html>