<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Federation Lab is a testing and debugging toolkit for Identity Protocols">
	<meta name="author" content="Andreas Åkre Solberg">

	<!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
	<link rel="stylesheet" href="/stylesheets/testresults.css" />

	<script type="text/javascript" data-main="main-results" src="/javascripts/require.js"></script>

	<!-- Le styles -->
	<style>
		ul.breadcrumb {
			padding-left: 60px;
		}

		table.table thead th {
			padding: 4px 0px !important;
			width: auto;
		}
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>

</head>

<body>

	<% include inc/navbar %>

	<ul class="breadcrumb">
		<li>
			<a href="/">Home</a> <span class="divider">/</span>
		</li>
		<li class="active">OpenID Connect Provider Test Results</li>
	</ul>

	<form class="form">

	<div id="main" class="container">


		<img src="/images/openid.png" style="float: right" />

		<h1>OpenID Connect Provider Test Results</h1>

		<p>Here is a summary of the implementations that are tested using Federation Lab, and an update on what tests that succeeded and not.</p>
		
		<div id="results">	
		</div>


	</div>



</body>
</html>