<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<% include inc/head %>

	<!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
	<link rel="stylesheet" href="/stylesheets/testresults.css" />


	<!-- spine.js -->
	<script type="text/javascript" src="/javascripts/spine/spine.js"></script>
	<script type="text/javascript" src="/javascripts/spine/local.js"></script>
	<script type="text/javascript" src="/javascripts/spine/relation.js"></script>


	<!-- Federation Lab -->
	<script type="text/javascript" src="/javascripts/fedlab-utils.js"></script>
	<script type="text/javascript" src="/javascripts/app/models/models.js"></script>


	<script type="text/javascript" data-main="javascripts/results/main" src="/javascripts/require.js"></script>

	<!-- Le styles -->

	<style>
		ul.breadcrumb {
			padding-left: 60px;
		}

		table.table thead th {
			padding: 4px 0px !important;
			width: auto;
		}

	</style>

</head>

<body>

		<% include inc/navbar %>



	<ul class="breadcrumb">
		<li>
			<a href="/">Home</a> <span class="divider">/</span>
		</li>
		<li class="active">OpenID Connect Provider Test Results</li>
	</ul>

	<form class="form">

	<div id="main" class="container">


		<img src="/images/openid.png" style="float: right" />

		<h1>OpenID Connect Provider Test Results</h1>

		<p>Here is a summary of the implementations that are tested using Federation Lab, and an update on what tests that succeeded and not.</p>
		
		<div id="results">	
		</div>


	</div>

	<% include inc/bottom %>

</body>
</html>