<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
	<link rel="stylesheet" href="/stylesheets/style.css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>


	<script type="text/javascript" src="/javascripts/jquery.json-2.3.min.js"></script>

	<!-- SAMLmetaJS -->
	<script type="text/javascript" src="/samlmetajs/mdreader.js"></script>
	<script type="text/javascript" src="/samlmetajs/samlmeta.js"></script>
	<script type="text/javascript" src="/samlmetajs/samlmeta.xml.js"></script>
	<script type="text/javascript" src="/samlmetajs/samlmeta.plugin.info.js"></script>
	<script type="text/javascript" src="/samlmetajs/samlmeta.plugin.saml2sp.js"></script>
	<script type="text/javascript" src="/samlmetajs/samlmeta.plugin.certs.js"></script>

	<link type="text/css" href="/samlmetajs/css/samlmetajs.css" rel="Stylesheet" />

	
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="/samlmetajs/css/samlmetajs.css" />

	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

	
	<script type="text/javascript">
	    $(document).ready(function(){
			var options = {
				showValidation: false,
				showValidationLevel: {
					info: false,
					ok: false,
					warning: true,
					error: true
				}
			};
			$("textarea#metadatafield").SAMLmetaJS(options);
			$("input#save").click(function (event) {
				event.preventDefault();
				event.stopPropagation();
				
				saveConfig();
				loadConfigList();
			});
	    });
	
	
	
	</script>
	
</head>

<body>



<p><a href="/">« Back to frontpage</a></p>

<h1>Testing SAML 2.0 Service Provider</h1>




<form id="configurationForm" action="?" method="get">

	<p>To test your SAML 2.0 Service Provider, please register the metadata of your provider here:</p>
	
	<input type="hidden" id="loadedEntity" name="loadedEntity" value="" />
	
	<fieldset id="fsLoad">
		<legend>Load configuration</legend>
		
		<p>
			When loading a stored configuration you will loose your current configuration (unless you saved it).
		</p>
		<p>
			<select id="loadConfig" name="loadConfig">
				<option value=""></option>
			</select>
			<input type="submit" id="loadConfigSmt" name="loadConfigSmt" value="Load configuration" />	
		</p>

	</fieldset>
	
	<textarea id="metadatafield" class="metadata" ></textarea>

	<fieldset  id="fsSave">
		<legend>Store configuration</legend>		
		<p>
			<label for="name">Descriptive name of this provider</label>
			<input id="name" name="name" value="" class="endpoint" />
			<input type="submit" id="save" name="save" value="Save provider configuration" />	
		</p>
	</fieldset>

	<input type="submit" id="verifyConnectivity" value="Verify connectivity" />
	
	<div  style="display: none" id="verifyErrorDiv"><pre id="verifyError"></pre></div>
	
</form>

<div id="testPage" style="display: none">

	<p><img src="/images/accept.png" /> We've successfully verified connectivity to your Service Provider, you may now proceed to run the tests.</p>

	<p>
	<input type="submit" id="reconfigure" value="« Reconfigure" />
	<input type="submit" id="startAllTests" value="Start all tests" />
	<input type="submit" id="startIndTests" value="Start individual tests" />
	<input type="submit" id="reset" value="Reset" disabled="disabled" />
	</p>

	<div id="loadingTestFlows"><img src="/images/spinning.gif" /> Loading test flow defintions...</div>

	<div id="testResultContainer"></div>

</div>

<p>GÉANT, NorduNet, UNINETT &copy; 2011</p>

</body>
</html>