<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Federation Lab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">



		<!-- Local stylesheets -->
		<link rel="stylesheet" href="/stylesheets/style2.css" />

		<!-- jQuery + UI -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />


		<!-- spine.js -->
		<script type="text/javascript" src="/javascripts/spine/spine.js"></script>
		<script type="text/javascript" src="/javascripts/spine/local.js"></script>
		<script type="text/javascript" src="/javascripts/spine/relation.js"></script>

		<!-- PrettyDate, John Resigs library with a twist. -->
		<script type="text/javascript" src="/javascripts/prettydate/pretty.js"></script>

		<!-- jquery tmpl() -->
		<script type="text/javascript" src="/javascripts/jquery.tmpl.min.js"></script>

		<!-- <script type="text/javascript" src="/javascripts/jquery-postmessage/postmessage.js"></script> -->
		
		<!-- Syntax highlighting of JSON -->
		<script type="text/javascript" src="/javascripts/syntaxhighlight.js"></script>


		<!-- Federation Lab -->
		<script type="text/javascript" src="/javascripts/fedlab-utils.js"></script>
		<script type="text/javascript" src="/javascripts/app/models/models.js"></script>		
		<script type="text/javascript" src="/javascripts/app/controllers/ctrl.publisher.js"></script>
		<script type="text/javascript" src="/javascripts/app/controllers/userinteraction.js"></script>
		<script type="text/javascript" src="/javascripts/app/controllers/controllers.js"></script>


		<!-- JSON plugin -->
		<script type="text/javascript" src="/javascripts/jquery.json-2.3.min.js"></script>


		<!-- SAMLmetaJS -->
		<script type="text/javascript" src="/samlmetajs/mdreader.js"></script>
		<script type="text/javascript" src="/samlmetajs/samlmeta.js"></script>
		<script type="text/javascript" src="/samlmetajs/samlmeta.xml.js"></script>
		<script type="text/javascript" src="/samlmetajs/samlmeta.plugin.info.js"></script>
		<script type="text/javascript" src="/samlmetajs/samlmeta.plugin.saml2sp.js"></script>
		<script type="text/javascript" src="/samlmetajs/samlmeta.plugin.certs.js"></script>
		<link type="text/css" href="/samlmetajs/css/samlmetajs.css" rel="Stylesheet" />

		

		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">




		<!-- Le styles -->
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


		<script type="text/javascript">
		    $(document).ready(function(){
				var options = {
					showValidation: false,
					showValidationLevel: {
						info: false,
						ok: false,
						warning: true,
						error: true
					}
				};
				$("textarea#metadatafield").SAMLmetaJS(options);
				$("input#save").click(function (event) {
					event.preventDefault();
					event.stopPropagation();
					
					saveConfig();
					loadConfigList();
				});

				setInterval(function() {
					$("span.lastRunDate").prettyDate();
				}, 30000);

				try {
					var metadata = localStorage.getItem('samlspMetadata');
					if (metadata) {
						metadata = JSON.parse(metadata);
						console.log('Loaded metadata from localstorage', metadata);
						$("form#configurationForm textarea#metadatafield").val(metadata.metadata);
						$("form#configurationForm input#fedlab_initsso").val(metadata.initsso);
						$("form#configurationForm input#fedlab_attributeurl").val(metadata.attributeurl);
						$("form#configurationForm input#fedlab_initslo").val(metadata.initslo);
					}
				} catch(e) {
					console.info("An attempt was made to fetch old metadata from localStorage, but parsing the stored JSON failed.");
				}

				$("button#verifynow").on("click", function() {

					var metadata = {
						metadata: $("form#configurationForm textarea#metadatafield").val(),
						initsso: $("form#configurationForm input#fedlab_initsso").val(),
						attributeurl: $("form#configurationForm input#fedlab_attributeurl").val(),
						initslo: $("form#configurationForm input#fedlab_initslo").val()
					};

					localStorage.setItem('samlspMetadata', JSON.stringify(metadata));

					console.log("Metadata");
					console.log(JSON.stringify(metadata));


					// var testcontroller = new SAMLmain(metadata, $(""));


					return false;
				});

		    });

	
		// jQuery(function($) {
		// 	return new FedLab({
		// 		el: $("body"),
		// 			type: OICProviderEditor,
		// 			modelType: OICProvider
		// 		//type: OAuthEditor
		// 	});
		// });
		// 


		
		
		
		</script>

	</head>

	<body>




		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Federation Lab</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<ul class="breadcrumb">
			<li>
				<a href="/">Home</a> <span class="divider">/</span>
			</li>
			<li class="active">SAML SP Testing</li>
		</ul>


		<div class="container">

			<form id="configurationForm" action="?" method="get">

				<h3>Add Federation Lab Metadata to your Service Provider</h3>

				<textarea>sdlkfjsldkjf
				</textarea>


				<h3>Register metadata of the SAML 2.0 Serivce Provider</h3>

				<p>To test your SAML 2.0 Service Provider, please register the metadata of your provider here.</p>
				
				<textarea style="" id="metadatafield" class="metadata" ></textarea>

				<hr />

				<p>
					<label for="fedlab_initsso">An <b>URL that initiates login</b> at the service provider. Request to this page should also be automatically directed to the automated SP tester, and not show a discovery service.</label>
					<input id="fedlab_initsso" name="fedlab_initsso"  type="text" class="input-xxlarge" placeholder="http:// (Init. SSO URL)">
				</p>

				<p>
					<label for="fedlab_attributeurl">An URL at the service provider that <b>presents a list of attributes</b> for the currently authenticated user.</label>
					<input id="fedlab_attributeurl" name="fedlab_attributeurl"  type="text" class="input-xxlarge" placeholder="http:// (Attributes URL)">
				</p>

				<p>
					<label for="fedlab_initslo">An <b>URL that initiates SLO</b> at the service provider.</label>
					<input id="fedlab_initslo" name="fedlab_initslo"  type="text" class="input-xxlarge" placeholder="http:// (Init. SLO URL)">
				</p>


				<button id="verifynow" class="btn btn-primary">Verify connectivity</button>

				<!-- <input type="submit" id="verifyConnectivity" value="Verify connectivity" /> -->
				<div  style="display: none" id="verifyErrorDiv"><pre id="verifyError"></pre></div>


			</form>

			

		</div> <!-- /container -->

		

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster 
		<script src="/bootstrap/js/jquery.js"></script>
		<script src="/bootstrap/js/bootstrap-transition.js"></script>
		<script src="/bootstrap/js/bootstrap-alert.js"></script>
		<script src="/bootstrap/js/bootstrap-modal.js"></script>
		<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
		<script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
		<script src="/bootstrap/js/bootstrap-tab.js"></script>
		<script src="/bootstrap/js/bootstrap-tooltip.js"></script>
		<script src="/bootstrap/js/bootstrap-popover.js"></script>
		<script src="/bootstrap/js/bootstrap-button.js"></script>
		<script src="/bootstrap/js/bootstrap-collapse.js"></script>
		<script src="/bootstrap/js/bootstrap-carousel.js"></script>
		<script src="/bootstrap/js/bootstrap-typeahead.js"></script>
		-->
	</body>
</html>