<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Federation Lab</title>

		<% include inc/head %>

		<script type="text/javascript" src="/javascripts/inflate/rawinflate.js"></script>
		<script type="text/javascript" src="/javascripts/inflate/rawdeflate.js"></script>

		<script type="text/javascript" src="/javascripts/base64/jquery.base64.js"></script>

		<script type="text/javascript" data-main="javascripts/samldebug/main" src="/javascripts/require.js"></script>

	</head>



	<body>

		<% include inc/navbar %>

		<ul class="breadcrumb">
			<li>
				<a href="/">Home</a> <span class="divider">/</span>
			</li>
			<li class="active">SAML Debugger</li>
		</ul>

		<form class="form">

		<div id="main" class="container">


			<h3>SAML Debugger</h3>
			<p>Paste in SAML in any of the accepted formats, encoded or unencoded.</p>

			<p>Examples: 
				<a class="insertExample btn btn-mini" data-example="xml" href="#">SAML request XML</a> 
				<a class="insertExample btn btn-mini" data-example="url" href="#">HTTP Redirect URL</a> 
				<a class="insertExample btn btn-mini" data-example="redirect" href="#">HTTP Redirect encoded request</a> 
				<a class="insertExample btn btn-mini" data-example="post" href="#">HTTP-POST</a>
			</p>

			<div class="tab">
				<ul class="nav nav-tabs">
				  <li class="active"><a id="tablinkeditable" href="#editable" class="" data-toggle="tab">Editable input</a></li>
				  <li><a id="tablinkpretty"  href="#prettyprint" data-toggle="tab">Pretty print</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="editable">
						<textarea id="samlinput" rows="10" style="width: 95%; height: 200px;"></textarea>
					</div>
					<div class="tab-pane" id="prettyprint">
						<pre class="prettyprint" id="prettyoutput" style="width: 95%; height: 200px"></pre>
					</div>
				</div>
			</div>

			
			
			
			<div style="float: right"><span id="inputtype" class="label label-inverse"></span></div>

			<p>
				<label for="dest">Destination URL <span style="color: #aaa">(optional)</label>
				<input id="dest" style="width: 100%" type="text" name="" value="https://idp.example.org/SAML/POST" />
			</p>

			<p>
				<input type="checkbox" id="relaystateinclude" name="relaystateinclude" />
				<label style="display: inline" for="relaystateinclude">RelayState</label>
				<input id="relaystate" type="text" name="" value="" />
			</p>

			<div class="btn-toolbar actionbar">
				<div class="btn-group">

					<div id="" class="btn-group">
						<a id="encoders" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							Encode
							<span class="caret"></span>
						</a>
						<ul id="encoderList" class="dropdown-menu">
							
						</ul>
					</div>

					
				</div>
				<button id="decode" class="btn">Decode</button>
			</div>
			
			<div style="display: none" id="console">
			<h3>Console</h3>
			<div id="log"></div>

		</div>
		<!-- <div><button class="btn cleanlog">Clear log</button></div> -->

		</div> <!-- /container -->

		</form>


	<% include inc/bottom %>
	</body>
</html>