

/* FedLab Editor/Test modes
*/


body.modeEdit fieldset.storeconfiguration, 
body.modeEdit div.editorcontainer,
body.modeTest div#testcontrollerbar {
	display: block;
}
body.modeTest fieldset.storeconfiguration, 
body.modeTest div.editorcontainer,
body.modeEdit div#testcontrollerbar {
	display: none;
}





textarea.metadata {
	width: 100%;
	height: 500px;
	font-family: "Monaco", monospace;
}



.ui-tabs-nav a, .ui-tabs-nav a:hover {
	border: none;
}




/*
const STATUS_OK = 2;
const STATUS_ERROR = 1;
const STATUS_FATAL = 0;
const STATUS_INFO = 3;
*/




label {
	cursor: pointer;
	cursor: hand;
}


body div#content {
	margin: 3em;
	border: 1px solid #aaa;
	background: white;
	padding: 1em;
}


.item-description {
	font-size: 95%;
	color: #666;
	margin: 0px;
	padding: 0px;
	display: block;
}

input.username {

	width: 340px;
	font-family: Monaco, monospace;
	
}
input.endpoint {
	display: block;
	width: 400px;
	font-family: Monaco, monospace;
}
fieldset legend {
	color: #333;
	font-size: large;
	padding: 3px;
	border-bottom: 1px solid #888;
}
fieldset {
	margin-bottom: 1em;
	border: 1px solid #eee;
}

fieldset.readyverify {
	display: none;
}
body.editorOpen fieldset.readyverify {
	display: block;
}

fieldset.readyverify legend {
	/*background: #fff;*/
}
fieldset.readyverify  {
/*	background: #ecfc71;
	color: black;
	border: 1px solid #373;*/
}


fieldset.storeconfiguration legend {
	/*background: #fff;*/
}
fieldset.storeconfiguration {
/*	background: #ecfc71;
	color: black;
	border: 1px solid #373;*/
}

fieldset.storeconfiguration li.active a.entityOpen {
	font-weight: bold;
}
fieldset.storeconfiguration li.autosave span.autosave {
	display: inline;
}
fieldset.storeconfiguration li span.autosave {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 7px;
/*	font-weight: bold;*/
	display: none;
	color: #ecfc71;
	background: #373;
	font-size: 80%;
	padding: 1px 7px;
}





div.data {
	padding: 3px .4em; margin: 4px 2em;
}

div.data div.testrun {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #888;
	margin: 5px 2px;
	padding: 3px;
}

div.data div.testrun p {
	font-size: 90%;
	margin: 0px;
}





div.controller {
	margin: 3px 1em;
	width: 400px;

	border: 1px solid #ccc;
	background: #f4f4f4;
	padding: 3px;

	font-size: 90%;
}
div.controller p {
	margin: 2px;
}

img.totalstatus {
	float: left;
}


/*pre.entityid {
	float: right;
}
pre.debug {
	display: none;
}
*/





div.userinteractionRule {
	
	border-radius: 5px;
	margin: 5px 0px;
	padding: 5px 1em;
	border: 1px solid #ddd;

/*	-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(100, 0, 0, 0.!);
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);*/
}




div.userinteraction {
	background: white;

    z-index: 25;

	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	padding: 0px;

	border: 1px solid #aaa;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 3px 3px rgba(100, 0, 0, 0.5);
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
div.userinteraction div.uisect {
/*	font-family: "Cochin", serif;

	font-size: 120%;*/
	padding: 0.6em 1em;
}
div.uitypediv label {
	margin-right: 2em;
}
div.userinteraction input.matchinput {
	width: 80%;
	display: block;
	border: 1px solid #ccc;
	font-size: 110%;
}
div.userinteraction iframe {
	height: 500px;
	margin: 0px;
	border: none;
	width: 100%;
	border-top: 1px solid #666;
}
div.backgroundfade {
    background-color: black;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    	position: fixed;
    top: 0px;
    left: 0px;
}




