/*
 * Test controller bar. The top controller that allows you to start and stop testing.
 */
div#TestExecDashboard {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
/*	font-weight: bold;*/
	

	margin: 2px 4px;
	padding: 3px 1em 3px 24px;


	background: #f7f7f7;
	color: black;
	border: 1px solid #ccc;
	
}

.alltestsdone div#publishbar{
	display: block;
}
div#publishbar {
	display: none;
}

div#publishbar p, div#publishbar input { margin: 0px; }
div#publishbar label { 
	font-weight: bold;
	}
div#publishbar input.pincode { 
	font-size: 130%; width: 4em;
}
div#publishbar {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
/*	font-weight: bold;*/
	

	margin: 2px 4px;
	padding: 0px 1em 20px 24px;


	background: #ecfc71;
	color: black;
	border: 1px solid #ccc;
}


div#TestExecDashboard p { margin: 0px; padding: 0px; }

div#TestExecDashboard div#resultcounter {
	margin: 5px 0px;
}
div#TestExecDashboard div#resultcounter span.resultcountitem {
	margin: 4px 20px 3px 0px;
}
div#TestExecDashboard div#resultcounter span.resultcountitem img {
	margin-bottom: -1px;
}


div#openidconnectverifytestflow div.testFlowControllerBar {
	display: none;
}

div.testFlow.completed div.testFlowControllerBar {
	display: block;
}
div.testFlowControllerBar {
	display: none;
	
	float: right;
	text-align: right;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
/*	font-weight: bold;*/
	

	margin: 2px 4px;
	padding: 3px 1em 3px 24px;


	background: #f7f7f7;
	color: black;
	border: 1px solid #ccc;
	
}
div.testFlowControllerBar p { margin: 0px; padding: 0px; }





