<div class="navbar navbar-inner navbar-fixed-top">
<div class="container" style="width: auto;">
  <a class="brand" href="/">Federation Lab</a>
  <ul class="nav" role="navigation">
    <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">SAML <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
        <li><a tabindex="-1" href="/saml-sp-solberg">Testing SAML SP (Solberg)</a></li>
        <li><a tabindex="-1" href="/results#!/saml">Test results SAML SP</a></li>
        <li><a tabindex="-1" href="/saml-sp-hedberg">Testing SAML IdP (Hedberg)</a></li>
        <li><a tabindex="-1" href="/samldebug">SAML Webbased Debugger</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/saml-tracer/">SAML-tracer (Firefox-plugin)</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">OpenID Connect <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
        <li><a tabindex="-1" href="/connect-gettingstarted">Getting started</a></li>
        <li><a tabindex="-1" href="/connect-provider">OpenID Connect Provider Testing</a></li>
        <li><a tabindex="-1" href="/results#!/connect">OpenID Connect Test results</a></li>
        <li><a tabindex="-1" href="/jwt">Webbased JWT debugging tool</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" target="_blank" href="http://openid.net/connect">OpenID Connect specifications</a></li>
        <li><a tabindex="-1" target="_blank" href="http://osis.idcommons.net/wiki/Main_Page">OpenID Connect Interop Wiki</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav pull-right">
  	<li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
</div>